<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">

    <title>{{ story_name }} - {{ chapter_name }}</title>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <h1>{{ story_name }}</h1>
      <h2>{{ chapter_name }}</h2>
        <div class="col-md-6">
            {% for msg_item in messages %}
              {% set msg = msg_item["data"] %}
              {% set is_attach = msg_item["is_attach"] %}
              <div class="card{% if is_attach %} text-dark bg-light{% else %} bg-warning{% endif %} mb-3">
              <div id="{{ msg.id }}" class="message">
              <div class="card-body">
              <div class="card-header">
                <a target="_blank" href="{{ bot_url }}?start=edit_message_id-{{ msg.id }}ZZstory_id-{{ story_id }}"><span class="badge bg-dark">id: {{ msg.id }}</span></a> ⇚{% if msg.parrent %} <a href="#{{ msg.parrent }}"><span class="badge bg-primary">id: {{ msg.parrent }}</span></a>{% endif %}{% if msg.from_buttons %}{% for from_btn in msg.from_buttons %} <a href="#{{from_btn.parrent_message_id}}"><span class="badge bg-primary">{{from_btn.text}}</span></a>{% endfor %}{% endif %}{% if not is_attach %} <span class="badge bg-danger">Unattainable!</span>{% endif %}
              </div> 
                {% if  msg.content_type == 'photo' %}
                <div class="d-flex justify-content-center">
                  <img class="card-img-top{% if not msg.message %} mb-2{% endif %} mx-auto" src="data:image/jpeg;base64,{{ msg.media }}">
                </div>
                {% endif %}
                {% if  msg.content_type == 'voice' %}
                <div class="d-flex justify-content-center">
                  <audio controls>
                    <source  src="data:audio/ogg;base64,{{ msg.media }}"/>
                  </audio>
                </div>
                {% endif %}
                {% if  msg.content_type == 'video_note' %}
                <div class="d-flex justify-content-center">
                  <video controls>
                    <source  src="data:video/mp4;base64,{{ msg.media }}"/>
                  </video>
                </div>
                {% endif %}
                {% if msg.message %}
                  <p class="card-text m-2">{{ msg.message }}</p>
                {% endif %}
                {% if msg.buttons %}
                {% for btn in msg.buttons %}
                    <a class="btn {% if btn.next_message_id %}btn-primary{% else %}btn-secondary{% endif %} m-1" href="#{% if btn.next_message_id %}{{ btn.next_message_id }}{% endif %}">{{ btn.text }}</a>
                {% endfor %}
                {% endif %}
                {% if msg.link %}
                    <a class="btn btn-info m-1" href="#{{ msg.link }}">Direct link</a>
                {% endif %}
              <div class="card-footer text-muted">
                Задержка: {{ msg.timeout}} сек.{% if  msg.wait_reaction %} Реакция - {{ msg.wait_reaction['name'] }}{% endif %} {% if  msg.referal_block %} Referal_block - {{ msg.referal_block }}{% endif %}
              </div>
              </div>
              </div>
              </div>
            {% endfor %}
            {% for msg in next_chapter_msgs %}
              <div class="card bg-secondary mb-3">
              <div id="{{ msg.id }}" class="message">
              <div class="card-body">
              <div class="card-header">
                <a target="_blank" href="{{ bot_url }}?start=edit_message_id-{{ msg.id }}ZZstory_id-{{ msg.story_id }}"><span class="badge bg-dark">id: {{ msg.id }} chapter: {{ msg.chapter_id}}</span></a> ⇚{% if msg.parrent %} <a href="#{{ msg.parrent }}"><span class="badge bg-primary">id: {{ msg.parrent }}</span></a>{% endif %}{% if msg.from_buttons %}{% for from_btn in msg.from_buttons %} <a href="#{{from_btn.parrent_message_id}}"><span class="badge bg-primary">{{from_btn.text}}</span></a>{% endfor %}{% endif %}
              </div>
              {% if  msg.content_type == 'photo' %}
                <div class="d-flex justify-content-center">
                  <img class="card-img-top{% if not msg.message %} mb-2{% endif %} mx-auto" src="data:image/jpeg;base64,{{ msg.media }}">
                </div>
                {% endif %}
                {% if msg.message %}
                  <p class="card-text m-2">{{ msg.message }}</p>
                {% endif %}
              </div>
              </div>
              </div>
            {% endfor %}
        </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
